<div class='boards-index-title'>
  <h3>New Board</h3>
</div>

<form>
  <ul class="errors">
  </ul>
  <input
    type="text"
    name="title"
    value="<%= this.model.escape("title") %>"
  >

  <input type="submit">
</form>

<a href="#/">Back</a>